body {
  background-color: white;
}
.content {
  width: 7.5rem;
  height: 12rem;
  margin: 0 auto;
  background-color: white;
}
.content .header {
  width: 7.5rem;
  height: 0.8rem;
  background-color: #f26b11;
  display: flex;
  justify-content: space-between;
}
.content .header p {
  font-size: 0.3rem;
  color: white;
  font-weight: bold;
  line-height: 0.8rem;
}
.content .header .circle {
  width: 0.6rem;
  display: flex;
  justify-content: space-between;
  margin-right: 0.3rem;
}
.content .header .circle .circles {
  width: 0.13rem;
  height: 0.13rem;
  background-color: white;
  margin-top: 0.35rem;
  border-radius: 50%;
}
.content .personpic {
  width: 7.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f26b11;
}
.content .personpic .per_left {
  width: 4.8rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
.content .personpic .per_left img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.content .personpic .per_left .per_text {
  height: 0.6rem;
  width: 2rem;
  margin-left: 0.2rem;
}
.content .personpic .per_left .per_text p {
  color: white;
  font-size: 0.14rem;
}
.content .personpic .per_left .per_text .p2 {
  margin-top: 0.2rem;
  font-style: italic;
}
.content .personpic .per_right {
  width: 1.6rem;
  height: 0.7rem;
  background-color: wheat;
  color: #f26b11;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.7rem;
  border-radius: 0.1rem;
  margin-right: 0.3rem;
}
.content .per_money {
  width: 7.5rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.content .per_money .per_box {
  width: 1.38rem;
  height: 1rem;
  text-align: center;
}
.content .per_money .per_box img {
  width: 0.38rem;
  height: 0.3rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.content .per_money .per_box p {
  margin-top: 0.1rem;
  font-size: 0.18rem;
  color: gray;
}
.content .per_list {
  width: 7.5rem;
  height: 1.09rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid silver;
}
.content .per_list .list {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}
.content .per_list .list img {
  width: 0.36rem;
  height: 0.4rem;
}
.content .per_list .list p {
  font-size: 0.2rem;
  margin-left: 0.1rem;
}
.content .per_list .list_right {
  display: flex;
  align-items: center;
}
.content .per_list .list_right .imgs {
  margin-right: 0.35rem;
  height: 0.3rem;
}
.content .per_list .list_right p {
  color: #f26b11;
  font-size: 0.16rem;
  margin-right: 0.1rem;
}
